body { background-color: #fdf8f6; }
.glass-container::-webkit-scrollbar, .custom-scrollbar::-webkit-scrollbar { width: 4px; }
.glass-container::-webkit-scrollbar-track, .custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.glass-container::-webkit-scrollbar-thumb, .custom-scrollbar::-webkit-scrollbar-thumb { background: #d1d5db; border-radius: 4px; }
